<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:rich_editor) %>
<% end %>

<%= form_tag admin_editor_settings_path, :method => :put do %>
  <fieldset class="general no-border-top">
    <div class="field">
      <%= label_tag(:current_editor, t(:rich_editor_engine) + ': ') + tag(:br) %>
      <%= select_tag :current_editor, options_for_select(SpreeEditor::EditorEngines, @config[:current_editor])  %>
    </div>
    
    <div class="field">
      <%= preference_field_tag(:enabled,   @config[:enabled], :type => :boolean) %>
      <%= label_tag(:enabled, t(:enable_rich_editor) + ': ') + tag(:br) %>
    </div>

    <div class="field">
      <%= label_tag(:ids, t(:rich_editor_ids_description) + ': ') + tag(:br) %>
      <%= preference_field_tag(:ids,  @config[:ids], :type => :text) %>
    </div>
    
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button t(:update), 'icon-refresh' %>
      <span class="or"><%= t(:or) %></span>
      <%= link_to_with_icon 'icon-remove', t(:cancel), edit_admin_editor_settings_url, :class => "button" %>
    </div>
  </fieldset>
<% end %>
